.mainContainer{
    width:100%;
    margin:0px;
    text-align: center;
}
.loginCard{
    margin-top:50px;
    width:320px;
    text-align: left;
}
.editDeptCard{
    margin-top:50px;
    width:800px;
    text-align: left;
}
.adminCard{
    margin-top:50px;
    width:640px;
    text-align: left;
    margin-bottom: 50px;
}
.pad20{
    padding:20px
}
.pageContent{
    width: 200; background:'#000';
}



@media only screen and (max-width: 600px) {
    .loginCard{
        margin-top:20%;
        width:95%;
        margin-left:2.5%;
    }
}