.mainContainer{
    margin-top: 12vh;
    margin-left:20%;
    width: 60%;
    border-radius: 6px;
    height: 560px;
    float:left;
    background-color: #fefefe;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.left{
    width:50%;
    height:560px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    float:left;
    background-color: #ee4433;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.right{
    width:50%;
    float:left;
    align-items: center;
    text-align: center;
    flex:1;
    flex-direction: column;
}

.right-padding{
    padding:40px;
}

.right-heading{
    font-size:28px;
    color : #444;
    font-weight: 600;
    margin-bottom: 8px;
}

.right-subheading{
    font-size:18px;
    color : #444;
    font-weight: 500;
}

.login-form{
    margin-top:10px;
    margin-bottom:30px;
    clear: both;
}

.login-form-input{
    margin-top:24px;
    width:100%; 
    padding-top:14px;
    padding-bottom: 14px;
    padding-left: 8px;
    border-radius: 5px; border:1px solid #ccc;
    transition : 0.4s;
    color: #555;
    font-weight: 600;
}

.login-form-input:focus{
    border:1px solid #4285f4;
    transition : 0.4s;
}

.login-form-button{
    padding:14px;
    background-color: #4285f4;
    border:0px;
    color: #fff;
    font-weight: 600;
    width: calc(100% + 10px);
    margin-top:24px;
    border-radius: 5px;
    margin-bottom:20px;
    cursor: pointer;
}

a{
    color:#777; text-decoration: none; 
    font-size: 16px;
    border-bottom:1px solid transparent;
    transition:0.4s;
}
a:hover{
    border-bottom:1px solid #333;
    transition:0.4s;
}


.divider-line{
    width:100%; height: 2px; background-color: #ccc;float:left;
    margin-bottom:20px;
}

.divider-overlay-content{
    margin-top:-10px;
    background: #fefefe;
    width:30px;
    margin-left: 46%;
    color:#666;
}

.sociallogin-container{
    margin-top:10px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.social-login-helper-text{
    display: inline-block;
    color: #333;
    margin:auto;
}

.social-login-button{
    cursor: pointer;
    border:0px;
    background-color: transparent;
    padding-top:-5px;
}

.register-container{
    margin-top:30px; 
    color: #666;
}

.highlited-text{
    color: #333;
    font-weight: 600;
    cursor: pointer;
    border-bottom:1px solid transparent;
}


@media (min-width:800px) and (max-width: 1200px) {
    .mainContainer{
        margin-top: 12vh;
        margin-left:10%;
        width: 80%;
    }
}


@media only screen and (max-width: 799px) {
    .mainContainer{
        margin-top: 10vh;
        margin-left:5%;
        width: 90%;
        margin-bottom:40px;
    }
    .left{display: none;}
    .right{width:100%;}
    .right-padding{
        padding:26px;
    }
}